:root {
  --dark: #0C0F0A;
  --mid2: #F3EAF4;
  --mid3: #C5B1C7;
  --mid1: #FFE5D9;
  --pink: #FF70E2;
  --lemon: #FBFF12;
 
}

html {
  font-size: 6.25%;
  background-color: var(--white);
}

body {
  font-size: 16rem;
  font-family: 'Fira Code', monospace;
}

a {
  color:#FF70E2;
  text-decoration: none;
  font-weight: 600;
  outline: none;
}



.lead {
  font-size: 24rem;
  font-family: 'Fira Code', monospace;

}

/* fonts  */
/* font-family: 'Space Mono', monospace; */
/* font-family: 'Fira Code', monospace;
  font-family: 'Sofia', cursive; */

h1 {
  font-family: 'Fira Code', monospace;
  font-size: 96rem;
  color: var(--pink);
}

h3 {
  font-family: 'Fira Code', monospace;
  font-size: 16rem;
}

.App { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.expander {
  background-color: white;
  width: 60vw;
}

.expander h2 {
  font-family: 'Fira Code', monospace;
  font-size: 32rem;
}

.expander h3 {
  margin: 16rem;
}


.isOpen {
  width: 60vw;
  background-color: white;
  /* background-color: #FBFF12; */
  /* margin-top: 40rem; */
  /* border: 1px solid blue; */
}

h2 .isOpen {
  padding-left: 8rem;
  width: 100%;
  color: var(--dark);
}

.header {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto 5vh;
}

.header p {
  padding: 0 5vw;
}

.skill {
  margin: 1vh 0;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

.project {
  /* border: 1px solid yellow;   */
  margin: 3vh 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items:flex-start; */
}

.projectName {
  font-family: 'Fira Code', monospace;
  color: #0C0F0A;
  font-size: 24rem;
  font-weight: 700;
}

.github {
  font-size: 16rem;
  margin-left: 0.5rem;
}

.github a {
  color: var(--lemon);
  font-size: 16rem;
}

.tags {
  font-size: 16rem;
  background-color: #FFE5D9;
  margin: 0.25rem;
  /* padding: 1rem; */
}

.jorb {
  /* border: 2px solid blue; */
  margin: 3vh 0;
}


.jorb h2 {
  font-family: 'Fira Code', monospace;
  font-size: 24rem;
  margin: 0.5rem;
}

.jorb a {
  font-family: 'Fira Code', monospace;
  font-size: 24rem;
  color: var(--dark);
}

.jorbTitle {
  font-size: 16rem;
  background-color: var(--lemon);
  margin: 0.5rem;
}

/* 
.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--blue);
  transform-origin: 0%;
} */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

