:root {
  --black: #0C0F0A;
  --taupe: #815E5B;
  --pink: #FF70E2;
  --lemon: #FBFF12;
  --silk: #FFE5D9;
}

html {
  font-size: 6.25%;
  background-color: var(--white);
}

body {
  font-size: 16rem;
}

a {
  text-decoration: none;
}

/* fonts  */
/* font-family: 'Space Mono', monospace; */
/* font-family: 'Fira Code', monospace;
  font-family: 'Sofia', cursive; */

h1 {
  font-family: 'Fira Code', monospace;
  font-size: 96rem;
  color: var(--pink);
}

h2 {
  font-size: 48rem;
}


.App { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 50px; */
  border: 2px solid var(--taupe);
  min-height: 100vh;
}



.section {
  /* background-color: #FBFF12; */
  border: 2px solid lime;
}

.section h2 {
  font-family: 'Fira Code', monospace;
  /* color: var(--taupe); */
  margin: 0px;
}

.section p {
  /* border: 1px solid black; */
  margin: 5vw;
}



.expander {
  background-color: var(--silk);
  width: 30vw;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .expander {
    width: 80vw;
  }
}

@media only screen and (max-width: 992px) {
  .expander {
    width: 30vw;
  }
}



.isOpen {
  width: 80vw;
  background-color: #FBFF12;
}












/* 
.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--blue);
  transform-origin: 0%;
} */
